<h1>Welcome to Coing combo maker</h1>
<form action="/coin_combo">
  <div class="form-group">
     <label for="coin_combo">Let's convert those dollars into coins!
</label>
     <input id="coin_combo" name="coin_combo" class="form-control" type="number">
  </div>
  <button type="submit" class="btn-success">Send</button>
</form>
